Software/GUI/Node-red/Rack0.json
[{"id":"83f5845468624998","type":"tab","label":"RACK0","disabled":false,"info":"","env":[]},{"id":"52a0d587c4f94086","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/sens/ambient/temperature","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":220,"wires":[["98637ed147c7fbca","a4085c33c0c46f78","61e7d150930ac0eb"]]},{"id":"d9b5b4612b56cc5b","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/sens/water/ph","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":300,"wires":[["181471367fa6cafe","61e7d150930ac0eb","a4085c33c0c46f78"]]},{"id":"6d43baae77cbf7f7","type":"mqtt out","z":"83f5845468624998","name":"Growleds","topic":"rack0/actu/light/control","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"07f33d8006e38cde","x":800,"y":540,"wires":[]},{"id":"ec69b4d688ebd123","type":"ui_slider","z":"83f5845468624998","name":"","label":"GrowLeds","tooltip":"","group":"c4e6fad334030f07","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":550,"y":540,"wires":[["6d43baae77cbf7f7"]]},{"id":"6c4ce7e8f9022798","type":"mqtt out","z":"83f5845468624998","name":"Ventilador_0","topic":"rack0/actu/fan/control0","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"07f33d8006e38cde","x":810,"y":600,"wires":[]},{"id":"d9141e705889a88e","type":"ui_slider","z":"83f5845468624998","name":"","label":"Ventilador_0","tooltip":"","group":"c4e6fad334030f07","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":550,"y":600,"wires":[["6c4ce7e8f9022798"]]},{"id":"7f9dc7f7ddf8873e","type":"ui_switch","z":"83f5845468624998","name":"","label":"Bomba_Principal","tooltip":"","group":"c4e6fad334030f07","order":5,"width":"6","height":"1","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":480,"wires":[["88bfa4add59e6631"]]},{"id":"88bfa4add59e6631","type":"mqtt out","z":"83f5845468624998","name":"Growleds","topic":"rack0/actu/watering0","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"07f33d8006e38cde","x":800,"y":480,"wires":[]},{"id":"fa2e325e9246ee1a","type":"mqtt out","z":"83f5845468624998","name":"Dosificadora_0","topic":"rack0/actu/dose_pump0","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"07f33d8006e38cde","x":820,"y":660,"wires":[]},{"id":"cdd719e44fcdf7b0","type":"ui_slider","z":"83f5845468624998","name":"","label":"Dosificadora_0","tooltip":"","group":"c4e6fad334030f07","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":540,"y":660,"wires":[["fa2e325e9246ee1a"]]},{"id":"c4b0402a7d945d4b","type":"ui_button","z":"83f5845468624998","name":"","group":"c4e6fad334030f07","order":7,"width":0,"height":0,"passthru":false,"label":"Humidificador","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":540,"y":720,"wires":[["97464c13b02bfe96"]]},{"id":"97464c13b02bfe96","type":"mqtt out","z":"83f5845468624998","name":"Humidificador","topic":"rack0/actu/humidifier","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"07f33d8006e38cde","x":820,"y":720,"wires":[]},{"id":"98637ed147c7fbca","type":"ui_chart","z":"83f5845468624998","name":"","group":"c0fbf36df0e1dfa5","order":8,"width":"10","height":"10","label":"Temperatura ambiental","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"30","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":220,"wires":[[]]},{"id":"1452f59431e6234d","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/sens/water/temperature","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":340,"wires":[["78a7928270193c78","61e7d150930ac0eb","a4085c33c0c46f78"]]},{"id":"a35681d40fc19a83","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/sens/ambient/humidity","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":260,"wires":[["54cc39a2d0f16975","61e7d150930ac0eb","a4085c33c0c46f78"]]},{"id":"ab85fe34a887c33d","type":"debug","z":"83f5845468624998","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":440,"wires":[]},{"id":"54cc39a2d0f16975","type":"ui_chart","z":"83f5845468624998","name":"","group":"c0fbf36df0e1dfa5","order":8,"width":"10","height":"10","label":"Humedad ambiental","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"35","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e5f4ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#eb0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":260,"wires":[[]]},{"id":"181471367fa6cafe","type":"ui_chart","z":"83f5845468624998","name":"","group":"c0fbf36df0e1dfa5","order":8,"width":"10","height":"10","label":"PH","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"6.5","ymax":"8.5","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#8988e2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#eb0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":300,"wires":[[]]},{"id":"78a7928270193c78","type":"ui_chart","z":"83f5845468624998","name":"","group":"c0fbf36df0e1dfa5","order":8,"width":"10","height":"10","label":"Temperatura agua","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"30","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#351297","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":340,"wires":[[]]},{"id":"0e1c3d1aa3911ce8","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/actu/light/control","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":540,"wires":[["ec69b4d688ebd123"]]},{"id":"303249123d0b9f60","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/actu/fan/control0","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":600,"wires":[["d9141e705889a88e"]]},{"id":"aa721ac66692dd8a","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/actu/dose_pump0","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":660,"wires":[["cdd719e44fcdf7b0"]]},{"id":"3b0581114bc7c0aa","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/actu/watering0","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":480,"wires":[["7f9dc7f7ddf8873e"]]},{"id":"555350141554c2df","type":"mqtt in","z":"83f5845468624998","name":"","topic":"rack0/actu/humidifier","qos":"0","datatype":"auto-detect","broker":"07f33d8006e38cde","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":720,"wires":[["c4b0402a7d945d4b"]]},{"id":"3ea3995a0694c4d1","type":"GSheet","z":"83f5845468624998","creds":"23e6a6c7e4620704","method":"append","action":"","sheet":"1X43uCUxbuGMTr7eC6pKEOuLr1ijzwKx3SimdBe24618","cells":"DIA2!A2","flatten":true,"name":"EXCEL","x":820,"y":400,"wires":[["ab85fe34a887c33d"]]},{"id":"a4085c33c0c46f78","type":"trigger","z":"83f5845468624998","name":"","op1":"iso","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":400,"wires":[["61e7d150930ac0eb"]]},{"id":"61e7d150930ac0eb","type":"join","z":"83f5845468624998","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":400,"wires":[["3ea3995a0694c4d1","ab85fe34a887c33d"]]},{"id":"07f33d8006e38cde","type":"mqtt-broker","name":"ESP32broker","broker":"192.168.1.100","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c4e6fad334030f07","type":"ui_group","name":"Actuadores rack0","tab":"4405edc5e8ad4ccb","order":4,"disp":true,"width":"10","collapse":false,"className":""},{"id":"c0fbf36df0e1dfa5","type":"ui_group","name":"Monitoreo rack0","tab":"4405edc5e8ad4ccb","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"23e6a6c7e4620704","type":"gauth","name":"rack-0-0@elevated-web-443505-j1.iam.gserviceaccount.com"},{"id":"4405edc5e8ad4ccb","type":"ui_tab","name":"Examen","icon":"dashboard","disabled":false,"hidden":false}]